<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ChineseName</key>
		<string>北京</string>
		<key>EnglishName</key>
		<string>BEIJING</string>
		<key>CityCode</key>
		<string>101010100</string>
		<key>Longitude</key>
		<real>116.46</real>
		<key>Latitude</key>
		<real>39.92</real>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>上海</string>
		<key>EnglishName</key>
		<string>SHANGHAI</string>
		<key>CityCode</key>
		<string>101020100</string>
        <key>Longitude</key>
		<real>121.47</real>
		<key>Latitude</key>
		<real>31.23</real>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>天津</string>
		<key>EnglishName</key>
		<string>TIANJING</string>
		<key>CityCode</key>
		<string>101030100</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>重庆</string>
		<key>EnglishName</key>
		<string>CHONGQING</string>
		<key>CityCode</key>
		<string>101040100</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>哈尔滨</string>
		<key>EnglishName</key>
		<string>HAERBIN</string>
		<key>CityCode</key>
		<string>101050101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>长春</string>
		<key>EnglishName</key>
		<string>CHANGCHUN</string>
		<key>CityCode</key>
		<string>101060101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>沈阳</string>
		<key>EnglishName</key>
		<string>SHENYANG</string>
		<key>CityCode</key>
		<string>101070101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>呼和浩特</string>
		<key>EnglishName</key>
		<string>HUHEHAOTE</string>
		<key>CityCode</key>
		<string>101080101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>石家庄</string>
		<key>EnglishName</key>
		<string>SHIJIAZHUANG</string>
		<key>CityCode</key>
		<string>101090101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>郑州</string>
		<key>EnglishName</key>
		<string>ZHENGZHOU</string>
		<key>CityCode</key>
		<string>101180101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>济南</string>
		<key>EnglishName</key>
		<string>JINAN</string>
		<key>CityCode</key>
		<string>101120101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>太原</string>
		<key>EnglishName</key>
		<string>TAIYUAN</string>
		<key>CityCode</key>
		<string>101100101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>南京</string>
		<key>EnglishName</key>
		<string>NANJING</string>
		<key>CityCode</key>
		<string>101190101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>合肥</string>
		<key>EnglishName</key>
		<string>HEFEI</string>
		<key>CityCode</key>
		<string>101220101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>西安</string>
		<key>EnglishName</key>
		<string>XIAN</string>
		<key>CityCode</key>
		<string>101110101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>银川</string>
		<key>EnglishName</key>
		<string>YINCHUAN</string>
		<key>CityCode</key>
		<string>101170101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>兰州</string>
		<key>EnglishName</key>
		<string>LANZHOU</string>
		<key>CityCode</key>
		<string>101160101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>西宁</string>
		<key>EnglishName</key>
		<string>XINING</string>
		<key>CityCode</key>
		<string>101150101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>武汉</string>
		<key>EnglishName</key>
		<string>WUHAN</string>
		<key>CityCode</key>
		<string>101200101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>长沙</string>
		<key>EnglishName</key>
		<string>CHANGSHA</string>
		<key>CityCode</key>
		<string>101250101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>杭州</string>
		<key>EnglishName</key>
		<string>HANGZHOU</string>
		<key>CityCode</key>
		<string>101210101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>南昌</string>
		<key>EnglishName</key>
		<string>NANZHANG</string>
		<key>CityCode</key>
		<string>101240101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>福州</string>
		<key>EnglishName</key>
		<string>FUZHOU</string>
		<key>CityCode</key>
		<string>101230101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>贵阳</string>
		<key>EnglishName</key>
		<string>GUIYANG</string>
		<key>CityCode</key>
		<string>101260101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>成都</string>
		<key>EnglishName</key>
		<string>CHENGDU</string>
		<key>CityCode</key>
		<string>101270101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>广州</string>
		<key>EnglishName</key>
		<string>GUANGZHOU</string>
		<key>CityCode</key>
		<string>101280101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>南宁</string>
		<key>EnglishName</key>
		<string>NANNING</string>
		<key>CityCode</key>
		<string>101300101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>昆明</string>
		<key>EnglishName</key>
		<string>KUNMING</string>
		<key>CityCode</key>
		<string>101290101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>海口</string>
		<key>EnglishName</key>
		<string>HAIKOU</string>
		<key>CityCode</key>
		<string>101310101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>乌鲁木齐</string>
		<key>EnglishName</key>
		<string>WULUMUQI</string>
		<key>CityCode</key>
		<string>101130101</string>
	</dict>
	<dict>
		<key>ChineseName</key>
		<string>拉萨</string>
		<key>EnglishName</key>
		<string>LASA</string>
		<key>CityCode</key>
		<string>101140101</string>
	</dict>
</array>
</plist>
